<div>
  <table>
    <tr>
      <td>Nome:</td>
      <td>{{stanza.Nome}}</td>
    </tr>
    <tr>
      <td>Capienza:</td>
      <td>{{stanza.Capienza}} pax</td>
    </tr>
  </table>
</div>
<div ui-calendar="stanza.uiConfig.calendar" ng-model="stanza.eventSources"></div>

<div id="fullCalModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span
          class="sr-only">close</span></button>
        <h4>{{stanza.titolo}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <lable class="col-md-4">Data Inizio</lable>
            <p class="input-group col-md-4">
              <input type="date" class="form-control"
                     uib-datepicker-popup
                     ng-model="stanza.prenotazione.dataInizio"
                     is-open="status.opened"
                     datepicker-options="dateOptions"
                     ng-required="true"
                     close-text="Close"/>
            </p>
          </div>
          <div class="form-group">
            <lable class="col-md-4"></lable>
            <uib-timepicker class="col-md-4" ng-model="stanza.prenotazione.oraInizio"></uib-timepicker>
          </div>

          <div class="form-group">
            <lable class="col-md-4">Data Fine</lable>
            <p class="input-group col-md-4">
              <input type="date" class="form-control"
                     uib-datepicker-popup
                     ng-model="stanza.prenotazione.dataFine"
                     is-open="status.opened"
                     datepicker-options="dateOptions"
                     ng-required="true" close-text="Close"
                />
            </p>
          </div>
          <div class="form-group">
            <lable class="col-md-4"></lable>
            <uib-timepicker class="col-md-4" ng-model="stanza.prenotazione.oraFine"></uib-timepicker>
          </div>
          <div class="form-group">

            <input type="text" placeholder="Utente da invitare"
                   ng-model="whatever"
                   uib-typeahead="(utente.Nome + ' ' + utente.Cognome) for utente in stanza.utenti |filter:$viewValue"
                   typeahead-on-select="stanza.invitati.push($item)"
                   class="form-control">

          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-success" id="event" ng-click="stanza.conferma()">Conferma</button>
      </div>
    </div>
  </div>
</div>
